
<!-- 
currentdate: {{Today | date:'fullDate'}}
currentdate: {{Today | date:'medium'}} -->
<label>Filter City:</label>
<input [(ngModel)]='City'>
<button type="button" (click)="onCityFilter()">Search</button>
<button type="button" (click)="onCityFilterlear()">Clear</button>
<label >Sort by</label>
<select [(ngModel)]='SortByParam'>
    <option value='City'>City</option>
    <option value='Price'>Price</option>
</select>

<button type="button" (click)="OnSortingDirection()">Sort
    <i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
    <i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>
<div class="row">
<!-- <div *ngFor="let item of Properties.sort()| filter:'New York':'City'" class="shadow-lg col-sm-4 p-3"> -->
    <!-- <div *ngFor="let item of Properties| filter:serchCity:'City' |sort: [SortByParam,'desc']" class="shadow-lg col-sm-4 p-3"> -->
        <div *ngFor="let item of Properties| filter:serchCity:'City' |sort: [SortByParam,SortDirection]" class="shadow-lg col-sm-4 p-3">
   
<app-property-card [Property]="item">

</app-property-card>
    </div>
</div>
