
.card:hover img{
    transform: scale(1.2,1.2);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 200px;
    opacity: .5;
  

}
.card img{
    transform: scale(1,1);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    height: 200px;
  

}
.card-img-wrapper{
    overflow: hidden;
    position: relative;
}
.member-icons{
    position: absolute;
    bottom: -10%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;

}
.font-highlight{

    font-style: italic;
    color: red;
}


.card-img-wrapper:hover .member-icons{
bottom: 0;
opacity: 1;
}
.animate{
    transition: all .3s ease-in-out;
}

