<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form #loginform='ngForm' (ngSubmit)="onlogin(loginform)">
       

        <div class="form-group col-12">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control"  ngModel name="userName">
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control"  ngModel name="password">
        </div>

       

       

        <div class="form-group col-12">
          <button [disabled]="!loginform.valid" type="submit" class="btn btn-primary">LogIn</button>
          <button type="reset" class="btn btn-secondary m-2">Cancel</button>
        </div>
      
      </form>
    </div>
  </div>
  </div>
</div>